
<ion-list class="list ranking" ng-hide="!IsLoaded">
    <ion-item class="list-header">
        <div class="row">
            <div class="col">#</div>
            <div class="col-75">Player</div>
            <div class="col text-right">Score</div>
        </div>
    </ion-item>
    <ion-item ng-repeat="player in Players track by $index"
              ng-click="ShowPlayer(player)"
              class="item-ranking"
              ng-Class="player.playerId == CurrentPlayer.playerId ? 'item-currentplayer' : ''">
        <div class="row">
            <div class="col" ng-bind="$index+1"></div>
            <div class="col-75" ng-bind="player.username"></div>
            <div class="col text-right" ng-bind="player.score"></div>
        </div>
    </ion-item>
    <ion-item ng-hide="HasData">
        No Players to show
    </ion-item>


</ion-list>
<button class="button button-full button-calm" ng-click="LoadMore()" ng-if="HasMore">
    Load more
</button>

<ion-spinner icon="lines" ng-hide="IsLoaded"></ion-spinner>
