<ion-list class="list ranking">
    <ion-item class="list-header">
        <div class="row">
            <div class="col">#</div>
            <div class="col-75">Player</div>
            <div class="col">Score</div>
        </div>
    </ion-item>
    <ion-item ng-repeat="entry in Entries" ng-click="Player(entry.UserId)">
        <div class="row">
            <div class="col">{{entry.Rank}}.</div>
            <div class="col-75">{{entry.Username}}</div>
            <div class="col">{{entry.Score}}</div>
        </div>
    </ion-item>
</ion-list>