<ion-view clear-history title="Login">
    <ion-content scroll="false">
        <ion-nav-bar class="bar-calm">
        </ion-nav-bar>
        <ion-content  class="kg-content">

            <h1>Killergame</h1>
            <h2>
                <span ng-hide="Model.IsRegister">Login</span>
                <span ng-hide="!Model.IsRegister">Register</span>
            </h2>
            <div class="list" ng-form="Model.AccountForm">
                <ion-toggle toggle-class="toggle-calm" ng-model="Model.IsRegister">
                    Are you new?
                </ion-toggle>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="john_wayne_1337" ng-model="Model.Username" required>
                </label>
                <label class="item item-input item-stacked-label" ng-hide="!Model.IsRegister">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="John Wayne" ng-model="Model.Name" ng-required="Model.IsRegister">
                </label>
                <label class="item item-input item-stacked-label" ng-hide="!Model.IsRegister">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="john@doe.com" ng-model="Model.Email" ng-required="Model.IsRegister">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="123456" ng-model="Model.Password" required>
                </label>
                <label class="item item-input item-stacked-label" ng-hide="!Model.IsRegister">
                    <span class="input-label">Repeat Password</span>
                    <input type="password" placeholder="Again!?" ng-model="Model.Password2" ng-required="Model.IsRegister">
                </label>
            </div>
            <button class="button button-block button-calm" ng-click="Login()" ng-hide="Model.IsRegister" ng-disabled="!IsFormValid()">Login</button>
            <button class="button button-block button-calm" ng-click="Register()" ng-hide="!Model.IsRegister" ng-disabled="!IsFormValid()">Register</button>
        </ion-content>
    </ion-content>
</ion-view>
