<ion-view title="Info">
    <ion-nav-title >
        <navbar class="navbar" />
    </ion-nav-title>
    <ion-content class="content content-info" scroll="true">
        <h1 class="content__heading">Info</h1>
        <h2 class="content__subheading">5-in-a-row</h2>
        <p>
            <em>Killergame</em> is a variant of the famous game <externallink href="https://en.wikipedia.org/wiki/Gomoku" title="Gomoku on Wikipedia">Gomoku</externallink>. The only difference between Gomoku and <em>Killergame</em> is that the latter is played on a 10&times;10 field.
        </p>
        <h2 class="content__subheading">The rules</h2>
        <p>
            The rules are simple: Orange plays first, and players alternate in placing a stone of their color on an empty field. The winner is the first player to get an unbroken row of five stones horizontally, vertically, or diagonally.
        </p>
        <p>
            For every win you get 3 points and every draw gives you 1 point. A game ends draw if all the fields are occupied yet no player managed to get 5 stones in a row.
        </p>
        <h2 class="content__subheading">Instructions</h2>
        <p>
            After registering or logging in you are automatically sent to the <em>Lobby</em> where you have a list of <em>Games</em> and <em>Available Players</em>.
        </p>
        <h3>Available Players</h3>
        <p>
            This section lists all the currently logged in players. You can either check their stats (using the <i class="icon ion-person"></i> icon) or challenge them to a <em>Killergame</em> (using the <i class="icon ion-ios-game-controller-a"></i> icon).
        </p>
        <h3>Games</h3>
        <p>
            In this section you see challenges by other players which you can either accept (by using the <i class="icon ion-checkmark-circled"></i> icon) or decline (by using the <i class="icon ion-close-circled"></i> icon).
        </p>
        <p>
            Your own challenges of other players are also listed here (indicated by the <i class="icon ion-clock"></i> icon). You can also cancle challenges (using the <i class="icon ion-close-circled"></i> icon).
        </p>
        <h4>Accepting a challenge</h4>
        <p>
            After accepting a challenge by another player you will be sent to the <em>Game</em>. Since the challenger is always Orange (and therefore places the first stone) you have to wait until he or she makes a move.
        </p>
        <h4>Someone accepts your challenge</h4>
        <p>
            If a player you challenged has accepted, the <em>Start Game</em> icon <i class="icon ion-arrow-right-a"></i> appears which brings you directly to the game.
        </p>
        <h3>Playing</h3>
        <p>
            If it is your turn you can place one stone on any non occupied field. After doing so, you have to wait until your opponent has placed his stone.
        </p>
        <p>
            You can forfeit a game anytime by clicking the red button with the <i class="icon ion-heart-broken"></i> icon.
        </p>
        <p>
            Note that you have 30 seconds to complete your move. After those 30 seconds the system will automatically forfeit the game for you.
        </p>
        <p>
            If one player manages to build an unbroken row of five stones (horizontally, vertically, or diagonally), the winning row will be highlighted and the game is over. Use the <em>Home</em> button <i class="icon ion-home"></i> to return to the lobby.
        </p>
        <p>
            And now: Enjoy a <em>Killergame</em>!
        </p>
    </ion-content>
</ion-view>