<ion-view align-title="center" view-title="Info">
    <ion-content class="kg-content" scroll="true">
        <h1>Info</h1>
        <h2>Gomuko what?</h2>
        <p>
            Gomoku is an abstract strategy board game. Also called Gobang or Five in a Row, it is traditionally played with Go pieces (black and white stones) on a go board with 15x15 intersections;[1] however, because once placed, pieces are not moved or removed from the board; gomoku may also be played as a paper and pencil game. This game is known in several countries under different names.
        </p>
    </ion-content>
</ion-view>