<ion-view clear-history align-title="center" view-title="Lobby">
    <!--WP HACK-->
    <!--<ion-nav-bar align-title="center" class="bar-energized bar bar-header">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>-->
    <ion-content class="kg-content">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="Refresh()">
        </ion-refresher>
        <h1>Lobby</h1>
        <h2>Available Players</h2>
        <ion-list>
            <ion-item class="list-header">
                <div class="row">
                    <div class="col">Player</div>
                    <div class="col-10"></div>
                    <div class="col-10"></div>
                </div>
            </ion-item>
            <ion-item ng-repeat="player in Model.Players">
                <div class="row">
                    <div class="col">{{player.Username}}</div>
                    <div class="col-10 text-right"><a ng-click="ShowPlayer(player.PlayerId)"><i class="icon ion-person"></i></a></div>
                    <div class="col-10 text-right"><a ng-click="Challenge(player.PlayerId)"><i class="icon ion-ios-game-controller-a"></i></a></div>
                </div>
            </ion-item>
        </ion-list>

        <h2>Ranking</h2>
        <ranking></ranking>
        <h2>Game</h2>
        <field></field>
    </ion-content>
</ion-view>