<ion-view clear-history align-title="center" view-title="Lobby">
    <!--WP HACK-->
    <!--<ion-nav-bar align-title="center" class="bar-energized bar bar-header">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
    </ion-nav-bar>-->
    <ion-content class="kg-content" scroll="false">
        <h1>Lobby</h1>
        <h2>Available Players</h2>
        <ion-list>
            <ion-item>

            </ion-item>
        </ion-list>

        <h2>Ranking</h2>
        <ranking></ranking>
        <h2>Game</h2>
        <field></field>
    </ion-content>
</ion-view>