<ion-view clear-history title="Killergame">
    <ion-nav-title >
        <navbar class="navbar" />
    </ion-nav-title>

    <ion-content class="kg-content">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="Refresh()">
        </ion-refresher>
        <h1>Lobby</h1>

        <h2>Games</h2>
        <ion-list class="kg-list">
            <ion-item class="list-header" ng-if="Model.AvailableGames.length > 0">
                <div class="row">
                    <div class="col">Player 1</div>
                    <div class="col">Player 2</div>
                    <div class="col-10 text-right"></div>
                    <div class="col-10 text-right"></div>
                    <div class="col-10 text-right"></div>
                </div>
            </ion-item>
            <ion-item ng-repeat="game in Model.AvailableGames">
                <div class="row">
                    <div class="col" ng-bind="game.player1"></div>
                    <div class="col" ng-bind="game.player2"></div>
                    <div class="col-10 text-right">
                        <i ng-if="!game.canAccept && !game.canStart" class="icon ion-clock icon-large"></i>
                    </div>
                    <div class="col-10 text-right">
                        <a ng-click="AcceptGame(game)" ng-if="game.canAccept" class="action"><i class="icon ion-checkmark-circled icon-large"></i></a>
                    </div>
                    <div class="col-10 text-right">
                        <a ng-click="DeleteGame(game)" ng-if="!game.canStart" class="action"><i class="icon ion-close-circled icon-large"></i></a>
                        <a ng-click="StartGame(game)" ng-if="game.canStart" class="action"><i class="icon ion-arrow-right-a icon-large"></i></a>
                    </div>
                </div>
            </ion-item>
            <ion-item ng-if="Model.AvailableGames.length === 0">
                No games available
            </ion-item>
        </ion-list>

        <h2>Available Players</h2>
        <ion-list class="kg-list">
            <ion-item class="list-header" ng-if="Model.AvailablePlayers.length > 0">
                <div class="row">
                    <div class="col">Player</div>
                    <div class="col-10"></div>
                    <div class="col-10"></div>
                </div>
            </ion-item>
            <ion-item ng-repeat="player in Model.AvailablePlayers">
                <div class="row">
                    <div class="col" ng-bind="player.username"></div>
                    <div class="col-10 text-right">
                        <a ui-sref="menu.player({playerId: player.playerId})" class="action"><i class="icon ion-person icon-large"></i></a>
                    </div>
                    <div class="col-10 text-right">
                        <a ng-click="ChallengePlayer(player)" class="action"><i class="icon ion-ios-game-controller-a icon-large"></i></a>
                    </div>
                </div>
            </ion-item>
            <ion-item ng-if="Model.AvailablePlayers.length === 0">
                No players available
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>