<ion-view align-title="center" view-title="Player">
    <ion-content class="kg-content" scroll="false">
        <div class="list card">

            <div class="item item-avatar">
                <img src="aplayer.jpg">
                <h2 ng-bind="Player.username"></h2>
                <p ng-bind="Player.score"></p>
            </div>

            <div class="item item-body">
                <h3>History</h3>
                <p>

                </p>

            </div>

        </div>
    </ion-content>
</ion-view>