<ion-view align-title="center" view-title="Ranking">
    <ion-content class="kg-content" scroll="true">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="Refresh()">
        </ion-refresher>
        <h1>Ranking</h1>
        <ranking />
        <ion-infinite-scroll
                ng-if="HasMoreData"
                icon="ion-loading-c"
                distance="1%"
                on-infinite="LoadMore()">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>