

@mixin slot-dimensions {
  width: $field__stone_diameter;
  height: $field__stone_diameter;
}

@mixin stone-player {
  border-radius: 50%;
  box-shadow: $stone_shadow;
  @include slot-dimensions;
  position: relative;
}

@mixin stone-player-1 {
  border: 2px solid $stone_player1_border;
  background: radial-gradient(ellipse at center, $stone_player1_inner 1%, $stone_player1_inner 25%, $stone_player1_outer 100%);
}

@mixin stone-player-2 {
  border: 2px solid $stone_player2_border;
  background: radial-gradient(ellipse at center, $stone_player2_inner 1%, $stone_player2_inner 25%, $stone_player2_outer 100%);
}

.game {
  width: 90vw;
  .col-10 {
    // adapting ionic's classes for killergame's needs
    @include slot-dimensions;
  }
}

.game-wait {
  cursor: wait;
}

// adapting ionic's classes for killergame's needs
.row + .row {
  margin-top: 0;
}

.slot-a {
  background-color: $slot_available_a;
}

.slot-b {
  background-color: $slot_available_b;
}

.slot-occupied {
  div {
    @include slot-dimensions;
    box-sizing: border-box;
  }
}

.slot-available {
  div {
    @include slot-dimensions;
    box-sizing: border-box;
    cursor: cell;
  }
  &:hover {
    div {
      @include stone-player;
      cursor: cell;
      opacity: 0.5;
    }
    div.player-1 {
      @include stone-player-1;
    }
    div.player-2 {
      @include stone-player-2;
    }
  }
}

.stone-player-1 {
  @include stone-player;
  @include stone-player-1;
  cursor: not-allowed;
}

.stone-player-2 {
  @include stone-player;
  @include stone-player-2;
  cursor: not-allowed;
}

.stone-win {
  border-color: $win_border; // overwrite player's border-color
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 $win_shadow_1;
  }
  70% {
    box-shadow: 0 0 0 1vw $win_shadow_2;
  }
  100% {
    box-shadow: 0 0 0 0 $win_shadow_2;
  }
}