/* styles for the heaaer */

.navbar {
  display: -webkit-flex;
  display: flex;

  > .navbar--item {
    width: 50%;
  }

  > .navbar--item-home {

    text-align: left;

    > .navbar--link {
      text-transform: uppercase;
    }
  }

  > .navbar--item-user {

    text-align: right;

    > .navbar--link {
      //float: right;
      max-width: 30vw;
      > .navbar--icon {
        margin-right: 5px;
      }
    }

  }
}