$positive: #77DD77 !default;
$calm: #779ECB !default;

$stone_player1_border: #D0A600;
$stone_player1_inner: #7F6100;
$stone_player1_outer: #FFC900;
$stone_player2_border: #0AB237;
$stone_player2_inner: #19662F;
$stone_player2_outer: #0CCC42;
$stone_shadow: 1px 1px 6px 1px rgba(0,0,0,0.5);

$win_shadow_1: rgba(255, 0, 0, 0.8);
$win_shadow_2: rgba(255, 0, 0, 0);
$win_border: rgba(255, 0, 0, 0.7);

$slot_available_a: #D7D7D7;
$slot_available_b: #E3E3E3;

$field__stone_diameter: 9vw;